.volleyball-icon{
    border-radius: 25px;
}

.robotics-icon{
    border-radius: 25px;
}

.violinist-icon{
    border-radius: 25px;
}

.dance-icon{
    border-radius:25px;
}

.cubesat-icon{
    border-radius:25px;
}

.hackathon-icon{
    border-radius:25px;
}

.ice-skating-icon{
    border-radius:25px;
}