.navbar{
    padding:1rem;
    display:flex;
    justify-content:space-between;
    align-items:center;
    transition:background-color 1s ease, color 1s ease;
}

.nav-left{
    display:flex;
    align-items:center;
    gap:1rem;
}

.light .navbar {
  background-color: #ffffff;
  color: #384868;
  transition:color 0.3s ease, color 0.3s ease;
  transition:background-color 0.3s ease, color 0.3s ease;
}

.dark .navbar {
  background-color: #384868;
  color: #f0f0f0;
  transition:color 0.3s ease, color 0.3s ease;
  transition:background-color 0.3s ease, color 0.3s ease;
}

.dark .container nav .Title {
  color: white;
  transition:color 0.3s ease, color 0.3s ease;
  
}

.navbar, .navlink a, header{
    transition:background-color 0.3s ease, color 0.3s ease;
}