*{
  margin:0;
  padding: 0;
  box-sizing:border-box;
  font-family: Cambria;
}
body{
  /* background-color:#BEE0FE; */
  min-height:100vh;
  position: relative;
  font-family: Cambria;
}

/*body::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background:rgba(60, 179, 113, 0.3);
} */

a{
  text-decoration: none;
  /* Makes it so that the text doesn't have anything underlined */
}

header{
  background: #FEDCBE;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  padding: 2rem 0;
}

.container{
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.container nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.container nav .Title{
  color: #212a3c;
  font-size:2rem;
}

.container .nav-link li{
  list-style:none;
  margin: 0, 0.5rem;
}

.container .nav-link{
    display: flex;
    /* Will be flexible to the screen */
}

.container ul li a{
  color:#212a3c;
  font-size: 1.3rem;
  padding: 0.7rem 1rem;
  display: block;
  border-radius: 4px;
  transition:color 0.5s ease, background-color 0.5s ease;

  /* Changes the font black  */
}

.container ul li a:hover{
  /* THIS IS WHAT MAKES IT ANIMATED "hover"*/
  background-color:#ecf7fe;
}

.hamburger{
  font-size:1.5rem;
  cursor: pointer;
  display: none;
}



@media(max-width: 768px){
  /* This occurs when the screen gets the 768px there will be a hamburger menu!*/
  .content h2{
    font-size: 4rem;
    text-align: center;
  }

  .hamburger{
    display:block;
    padding: 40px;
    
  }
  .dark .hamburger{
  background-color: #384868;
  transition: background-color 0.3s ease, color 0.3s ease;
  }

  .container .nav-link{
    flex-direction: column;
    justify-content:space-evenly;
    background-color: #fff;
    position: absolute;
    width:350px;
    height:60vh;
    top:-800px;
    right:0;
    z-index:10;
    border-radius: 25px;
    
    /* This is the box around the links during the hamburger menu */
  }

  .dark .container .nav-link{
    background-color:#384868;
    transition: background-color 0.3s ease, color 0.3s ease;
    
  }

  .nav-link.active{
    top:15%;
    transition: all 0.3s ease-in;
    /*transition duh*/
  }
}

.dark {
  background: #212a3c;
  color: #BEE0FE;
  min-height: 100vh;
  width: 100vw;
  transition: background-color 0.3s ease, color 0.3s ease;

}

.light {
  background: #BEE0FE;
  color: #212a3c;
  min-height: 100vh;
  width: 100vw;
  transition: background-color 0.3 ease, color 0.3s ease;

}

.light header {
  background-color: white;
  color: #212a3c;

}

.light .nav-link a{
  color:#212a3c;
}
.dark .nav-link a {
  color: #ffffff;
}

.dark .nav-link a:hover {
  background-color: #2f3d58;

  /* Specific hovers for dark mode */
}

.dark header {
  background-color: #384868;
  color: #ffffff;

}

.home-title{
  text-align:center;
  font-size:50px;
  font-family:italic;
  margin-top:50px;
  /* font-weight:500; */
}

.about-me-text{
  text-align:center;
  font-size:30px;
  font-family:italic;
  margin-top:50px;
  line-height: 3rem;
}

.funfacts{
  list-style-type: "-";
  list-style-position: inside;
  text-align: center;
  font-size: 25px;
  font-family: italic;
  margin-top: 10px;
}

.cat-pic{
  display: block;
  margin: auto;
  margin-top:10px;
  border-radius: 25px;
}

.card{
  border: 1px solid;
  border-radius: 25px;
  box-shadow: 5px 5px 5px black;
  padding: 20px;
  margin: 50px;
  text-align: center;
  display: inline-block;
  max-width: 400px;
  background-color:#BEC0FE;

}

.dark .card{
  background-color:#384868;
  box-shadow: 2px 3px 2px white;
  transition: background-color 0.3 ease, color 0.3s ease;
}

.light .contact a{
  color:#212a3c
}
.dark .contact a {
  color: #ffffff;
}

.dark .contact a:hover {
  background-color: #2f3d58;

  /* Specific hovers for dark mode */
}

.contact{
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  text-align:center;
  transition: color 0.3s ease;
  margin-top:20px;
  margin-bottom:20px;
}

.contact-section{
  display: flex;
}

.dark .contact-section{
  color:#ffff;
}

.special-title{
  font-family: cursive;
  text-align: center;
}

.flag{
  display:block;
  max-width: 100%;
  height: auto;
  margin: auto;
  /* box-shadow: 5px 5px 5px rgba(0,0,0,0.5); */
}

.audio{
  justify-content: center;
  align-items: center;
}

.canada-card{
  border: 1px solid;
  border-radius: 25px;
  box-shadow: 5px 5px 5px black;
  padding: 20px;
  margin: 50px;
  text-align: center;
  display: inline-block;
  max-width: 400px;
  background-color:#febfbe;
}

.link-font{
  color:black;
}